@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@layer components {
  .overlappingGallery {
    @apply h-screen w-full flex flex-col overflow-auto scroll-smooth relative
  }
  .overlappingGalleryImg {
    @apply h-screen w-full shrink-0 object-cover sticky top-0
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.gradientBGG {
  background: transparent linear-gradient(337deg, #FFFFFF00 0%, #dae6e0 80%, #dae6e0 80%) 0% 0% no-repeat;
  /* opacity: ; */
}